section{
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #7B6B43;
    margin-top: 3rem;
    }
    
    .profile {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .change {
        height: 2.4rem;
        width: 40%;
    }

    .newpwd {
        height: 2rem;
        width: 40%; 
    }
    .form-change-pwd {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        row-gap: 0.5rem;
        
        opacity: 0;
        transition: 0.5s;
    
    }
    button .change-password {
        z-index: 10;
    }
    .my-profile-input{
        width: 40%;
        height: 2rem;
        margin-top: 0rem;
        
    }
    