*{
    box-sizing: border-box;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(68, 87, 129);
    color: white;
    width: 100%;
    height: 3rem;
    flex-wrap: nowrap;
    position: fixed;
}
ul{
    display: flex;
    justify-content:space-between ;
    width: 25%;
    list-style: none;
    position: absolute;
}
li{
    display: inline-block;

}