.comments-grid-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100vh -50px;
    background-color: cornsilk;
    grid-template-rows: 25% repeat(30, 90px);
    grid-template-columns: 1fr ;
}
.comments-postitem{
    display: flex;
    background: cornflowerblue;
    
}
.user-comments{
    background-color: rgb(147, 166, 201);
    border-bottom: 1px solid black;
}

