.login-grid-container{
    color: white;
    display: grid;
    height: 100%;
    width: 75%;
    grid-template-columns: 50%;
    grid-template-rows:repeat(6, 6rem);
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
     
  
}
.login-grid-container > *
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-grid .image {
    padding-top: 3rem;
}
.login-grid img {
    border-radius: 50%;
}

input {
    border-style: none;
    border-bottom: 1px solid #131313;
    height: 2rem;
    background-color: rgba(0, 0, 255, 0);
    color:#131313;
    text-align: center;
}


input:focus {
background-color: rgba(0, 0, 255, 0);
outline: none;
 }

.loginbtn {
border:1px solid #131313;
height :2.5rem;
width: 8rem;
background-color: rgba(0, 0, 255, 0);
color:#131313;
}

.loginbtn:focus{outline:none}

