nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#131313;
    color: ivory;
    width:100%;
    height: 50px;
    position: fixed;
    max-width: 800px;    
}

ul{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    width: 100%;
    list-style: none;
    position: absolute;
   
}
li{
    display: inline-block;
    cursor: pointer;
}
nav a {
    text-decoration: none;
}
nav a:visited {
    color:ivory;
}