nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #131313;
    color: white;
    width:100%;
    height: 50px;
    position: fixed;
    font-size: 14px;
    max-width: 800px;
    
}
nav img{
    margin-left: 0;

}
ul{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    width: 100%;
    list-style: none;
    position: absolute;
    padding: 0;
}
li{
    display: inline-block;
    cursor: pointer;
}
nav a {
    text-decoration: none;
}
nav a:visited {
    color: ivory;
}