.settings-grid-container{
    display: grid;
    height: 100%;
    width: 80%;
    padding:1rem;
    grid-template-columns: 33% 66%;
    grid-template-rows:repeat(6, auto) ;
    background-color: rgb(221, 221, 221);
    font-size: 12px;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    color: #131313;
}

.settings-info .var-left a{
    width: 100%;
}
.settings-item .avatar-form{
    display: flex;
    flex-wrap: wrap;
}
.settings-item .avatar-form input {
    border: none;
}
.settings-item .avatar-form button {
    border:1px solid #131313;
    height :2.5rem;
    width: 8rem;
    background-color: rgba(0, 0, 255, 0);
    color:#131313;
}

.settings-item .avatar-form button {
    margin-top: 1.4rem;
}
 .update-form {
    display: flex;
    height: 10rem;
}


