.settings-grid-container{
    display: grid;
    height: 100%;
    width: 80%;
    padding:1rem;
    grid-template-columns: 33% 66%;
    grid-template-rows:repeat(6, auto) ;
    background-color: rgb(221, 221, 221);
    font-size: 12px;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    color: #131313;
}

.settings-info .var-left a{
width: 100%;

}
.settings-item .avatar-form{
    display: flex;


    flex-wrap: wrap;
}
.settings-item .avatar-form button {
    margin-top: 3rem;
}



/* .settings-grid-container > a {
    width: 100%;
} */

/* .grid-item3{
    color :white;
}
#bio{
    max-width: 90%;
    max-height: 100px;
}
.grid-item5, .grid-item6{
    max-height: fit-content;
} */