
*{
    box-sizing: border-box;
    margin: 0;
    font-family:  Verdana, Geneva, Tahoma, sans-serif, Arial, Teko-regular;
    font-size: 14px;
    
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(214, 214, 214);
}

a {
    color :ivory;
}
a:visited{
    color :rgb(124, 124, 158);
}

main{

display: flex;
justify-content: center;
height: 100%;
width: 100%;
background-color: #4e463a;
max-width: 800px;

}
section {
    display: flex;
    justify-content: center;
    width: 100% ;
    max-width: 800px;
    min-height:100% ; /* minus pga navbar*/
    margin-top: 50px;
    background-color: rgb(231, 231, 231);
    flex-wrap: wrap;
}
/* button {
    border:1px solid #131313;
height :2.5rem;
width: 8rem;
background-color: rgba(0, 0, 255, 0);
color:#131313;
} */
